.index-cart {
    border: 1px solid black;
    width: 30%;
    height: 10%;
    text-align: center;
    margin: 25px;
    transform: scale(0.8); /* 使用 transform 縮小容器 */
    transition: transform 0.3s ease; /* 添加過渡效果 */
}

.index-cart:hover {
    transform: scale(0.9); /* 滑鼠懸停時恢復原始大小 */
}

.index-cart-1 {
    width: 100%;
    overflow: hidden; 
}

.index-cart-1 img {
    width: 100%;
}

.index-cart-name {
    color: #656565;
    font-size: 30px;
}

.index-cart-price {
    color: red;
    font-size: 25px;
}

.index-cart-0 {
    background-color: white;
    border: 0px;
    float:right;
    padding: 30px;
    cursor: pointer
}
