body {
    margin: 0;
    padding: 0;
}

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-logo {
    margin: 30px;
    
}

.index-user {
    margin: 30px;
}


.index-search {
    display: inline-flex;

}

#indexsearch {
    background-color: transparent;
    border: 0;
    
}

#indexsearch:hover {
    cursor: pointer;
}

.index-text{
    background-color: transparent;
    border: 0;
    /* display: none; */
    position: relative;
    background: #2c3e50;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.index-login {
    display: inline-flex;
}

.index-cart {
    display: inline-flex;
}
