body {
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* 将header固定在页面顶部 */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* 根据您的实际需要设置header的高度 */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; /* 确保header在其他内容上层显示 */
}

.index-logo {
    margin: 30px;
    display: flex; /* 使用 Flexbox 來水平置中 */
    align-items: center; /* 垂直置中 */    
}

.index-user {
    margin: 30px;
    display: flex; /* 使用 Flexbox 來水平置中 */
    align-items: center; /* 垂直置中 */
}


.index-search {
    display: inline-flex;
    display: flex; /* 使用 Flexbox 來水平置中 */
    align-items: center; /* 垂直置中 */

}

#indexsearch {
    background-color: transparent;
    border: 0;
    display: flex; /* 使用 Flexbox 來水平置中 */
    align-items: center; /* 垂直置中 */
    
}

#indexsearch:hover {
    cursor: pointer;
}

.index-text{
    display: flex; /* 使用 Flexbox 來水平置中 */
    align-items: center; /* 垂直置中 */
    background-color: transparent;
    border: 1px solid black;
    position: relative;
    background: #ffffff;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.index-login {
    display: inline-flex;
}

.index-cart {
    display: inline-flex;
}

.index-navBar {
    list-style-type: none;
    text-align: center;
    background-color: #000000;
}

.index-navBar li {
    display: inline-block;
    padding: 20px;
}

.index-navBar li:hover {
    background-color: #656565;
}

.index-navBar li a {
    color: white;
    text-align: center;
    text-decoration: none;
}


.index-banner {
    width: 75%;
    margin: 0 auto; /* 水平置中 */
}

.index-banner > img {
    display: block; /* 讓圖片變成 block 元素 */
    margin: 0 auto; /* 水平置中 */
    width: 100%; /* 讓圖片寬度填滿其容器 */
    height: auto;
}


.index-new {
    position: relative;
    top: 0px; 
    width: 100%;
    text-align: center; 
    display: flex; /* 使用 flexbox 來水平置中子元素 */
    justify-content: center; /* 水平置中子元素 */
}


.index-pnew {
    font-size: 30px;
    display: inline-block; /* 將元素轉換為內聯塊級元素 */
    padding: 10px;
    text-align: center; /* 水平置中文本內容 */
    margin: 0 auto; /* 在父元素中水平置中 */
}
